#__app {
  height: 100%;
}

body,
html {
  margin: 0;
  height: 100%;
}

body {
  font-family: -apple-system, roboto, blinkmacsystemfont, 'Segoe UI', 'Helvetica Neue', arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
