$font-family-theme: -apple-system, roboto, blinkmacsystemfont, 'Segoe UI', 'Helvetica Neue', arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:export {
  fontFamily: $font-family-theme;
}
